<div class="container">
    <div class="navbar">
        <div>
            <img src="assets/images/categories/grocery.png">
            <button>Grocery</button>
        </div>
        <div>
            <button>Mobile</button>
        </div>
        <div>
            <button>Fashion</button>
        </div>
        <div>
            <button>Electronics</button>
        </div>
        <div>
            <button>Home & Furniture</button>
        </div>
        <div>
            <button>Appliances</button>
        </div>
        <div>
            <button>Travel</button>
        </div>
        <div>
            <button>Beauty Toys & More</button>
        </div>
        <div>
            <button>Two Wheelers</button>
        </div>
    </div>
    <div>
        <app-offer></app-offer>
    </div>
    <div>
        <app-best-deals></app-best-deals>
    </div>
</div>

