<div class="container">
    <div class="navbar">
        <div>
            <img src="assets/images/categories/grocery.png">
            <button (click)="gotoProduct()">Grocery</button>
        </div>
        <div>
            <img src="assets/images/categories/phone.png">
            <button (click)="gotoProduct()">Mobile</button>
        </div>
        <div>
            <img src="assets/images/categories/fashion.jpg">
            <button (click)="gotoProduct()">Fashion</button>
        </div>
        <div>
            <img src="assets/images/categories/laptop.webp">
            <button (click)="gotoProduct()">Electronics</button>
        </div>
        <div>
            <img src="assets/images/categories/furniture.webp">
            <button (click)="gotoProduct()">Home & Furniture</button>
        </div>
        <div>
            <img src="assets/images/categories/appliances.webp">
            <button (click)="gotoProduct()">Appliances</button>
        </div>
        <div>
            <img src="assets/images/categories/travel.webp">
            <button (click)="gotoProduct()">Travel</button>
        </div>
        <div>
            <img src="assets/images/categories/beauty&toys.webp">
            <button (click)="gotoProduct()">Beauty Toys & More</button>
        </div>
        <div>
            <img src="assets/images/categories/twowheelers.webp">
            <button (click)="gotoProduct()">Two Wheelers</button>
        </div>
    </div>
    <div>
        <app-offer></app-offer>
    </div>
    <div>
        <app-best-deals></app-best-deals>
    </div>
</div>

