<div class="simpleCard">
    <img class="imgContainer">
    <p>Name of the product</p>
    <div class="rating">
        <div class="totalrating">
            4.3
            <fa-icon [icon]="faStar"></fa-icon>
        </div> 
        <div class="review">
           54 Ratings & 4 Reviews 
        </div>
    </div>
    <div class="price-section">
        <p class="current-price"><fa-icon [icon]="farupee"></fa-icon>34000</p>&nbsp;
        <p class="original-price"><fa-icon [icon]="farupee"></fa-icon>50000</p>&nbsp;
        <span class="discount">50% off</span>
        <div>
            <p class="deliverymethod ">free delivery</p>
        </div>
    </div>

</div>
