body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    background-color: #F0F8FF;
    padding:0px 5px 0px 5px;
}
.header{
    border: 1px solid red;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    box-sizing: border-box;
    background-color: white;
    h1{
        cursor: pointer;
        // font-size: 3vw;
    }
   
    @media (min-width: 453px) and (max-width: 992px) {
        h1{
            font-size: 1.3rem;
        }
    }
    @media (min-width:992px){
        h1{
            font-size: 2rem;
        }
    }
    .account{
        position: relative;
    }
    .dropdown{
        position: absolute;
        border-radius: 5px;
        display: none;
        padding: 10px;
        background-color: white;
        width: 200px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        z-index: 10;
        .userAlert{
            width: 100%;
            padding: 10px 0px 10px 0px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid grey;
            .signupalert{
                color: blue;
                font-weight: bold;
            }
        }
        fa-icon{
            margin-right: 10px;
        }
    }
    .account:hover{
        .dropdown{
            display: block;
        }
       
    }
    button{
        border: none;
        padding: 5px;
        background-color: white;
        cursor: pointer;
        // font-size: large;
        // font-size: 1.5vw;
        fa-icon{
            color: rgb(72, 70, 70);
        }
        border: 1px solid green;
        border-radius: 5px;
    }
    @media (min-width: 453px) and (max-width: 768px) {
        button{
            font-size: 1rem;
        }
    }
    @media (min-width:768px){
        button{
            font-size: 1.2rem;
        }
    }
    .loginbtn:hover{
        background-color:rgb(57, 57, 180);
        color:#F0F8FF;
        fa-icon{
            color: white;
        }
    }
}
.content{
    min-height: 470px;
    width: 100%;
    box-sizing: border-box;
}
.footer{
    display: flex;
    width: 100%;
    background-color: rgb(49, 47, 47);
    color: rgb(213, 211, 211);
    flex-direction: column;
    .information{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        ul{
            list-style: none;
        }
    }
}