<html>
    <body>
        <div class="header">
            <h1>ShipKart</h1>
            <app-searchbar></app-searchbar>
            <div class="account">
                <button *ngIf="!(loggedIn$|async)" class="loginbtn" (click)="openLoginForm()"><fa-icon [icon]="faUserCircle"></fa-icon>Login</button>
                <button *ngIf="(loggedIn$|async)" class="loginbtn" ><fa-icon [icon]="faUserCircle"></fa-icon>Welcome</button>
                <div class="dropdown">
                    <div *ngIf="!(loggedIn$|async)"  class="userAlert">
                        <span>New Customer?</span>
                        <span class="signupalert" (click)="gotosignup()">Signup</span>
                    </div>
                    <p><fa-icon [icon]="facircleUser"></fa-icon>My profile</p>
                    <p (click)="gotoMyOrders()"><fa-icon [icon]="faBoxOpen"></fa-icon>Orders</p>
                    <p (click)="gotoWishList()"><fa-icon [icon]="faheart"></fa-icon>Wishlist</p>
                    <p *ngIf="(loggedIn$|async)" (click)="logOut()"><fa-icon [icon]="fapowerOff"></fa-icon>Logout</p>

                </div>
            </div>
            
            <button (click)="gotoMyCart()">
                <fa-icon [icon]="faCartShopping" ></fa-icon> 
                Cart</button>
            <button (click)="openloginFormSeller()">
                <fa-icon [icon]="faStore"></fa-icon> a seller</button>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <div class="footer">
            <div class="information">
                <ul>
                    <li>About</li>
                    <li>Contact Us</li>
                    <li>About Us</li>
                    <li>Careers</li>
                </ul>
                <ul>
                    <li>Help</li>
                    <li>Payments</li>
                    <li>Shipments</li>
                    <li>Cancelation & return policy</li>
                </ul>
                <ul>
                    <li>Mail Us</li>
                    <li>Shipkart Private Limited</li>
                    <li>Building x ,floor x10</li>
                    <li>florida</li>
                </ul>
                <ul>
                    <li>Socials</li>
                    <li>Linkedin</li>
                    <li>Instagram</li>
                    <li>FaceBook</li>
                </ul>
            </div>
        </div>
    </body>
</html>

