<div class="simpleCard">
    <img class="imgContainer" src={{product.productimg}} (click)="gotoProduct(product._id)">
    <fa-icon *ngIf="!product.wishlisted?.length" [icon]="faHeart" (click)="addtoWishlist(product._id)"></fa-icon>
    <fa-icon *ngIf="product.wishlisted?.length" class="wishlisted" [icon]="faHeartFilled" (click)="removeFromWishList(product._id)"></fa-icon>
    <p class="name" (click)="gotoProduct(product._id)">{{product.productname}}</p>
    <div class="rating">
        <div class="totalrating">
            4.3
            <fa-icon [icon]="faStar"></fa-icon>
        </div> 
        <div class="review">
           54 Ratings & 4 Reviews 
        </div>
    </div>
    <div class="price-section">
        <p class="current-price"><span><fa-icon [icon]="farupee"></fa-icon></span>{{product.productnewprice}}</p>&nbsp;
        <p class="original-price"><span><fa-icon [icon]="farupee"></fa-icon></span>{{product.productprice}}</p>&nbsp;
        <span class="discount">{{product.productdiscount}}% off</span>
        <div>
            <p class="deliverymethod ">free delivery</p>
        </div>
    </div>
    <button (click)="addtoCart(product._id)">Add to Cart</button>

</div>
