<section class="section1">
    <div class="contentbox">
        <p>Total Sales</p>
        <h3>344444</h3>
    </div>
    <div class="contentbox">
        <p>Total Order</p>
        <h3>34342</h3>
    </div>
    <div class="contentbox">
        <p>Refunded</p>
        <h3>33545</h3>
    </div>
</section>
<section class="section2">
    <div class="chartbox">

    </div>
    <div class="top-products">
        <h3>Top Products</h3>
        <div class="productchart">
            <img >
            <div class="details">
                <p>name</p>
                <div class="percentage">100%</div>
                <p class="total">total</p>
                <div class="graph-bar">
                    <div class="progress">
                        
                    </div>
                </div>
               
            </div>
            

        </div>
    </div>

</section>
