<div class="container">
    <div class="cartitemscontainer">
        <ng-container *ngFor="let item of cartItems$|async">
            <app-cartitemcard [item]="item" (selectedItem)="selectProduct($event)" (updateItem)="updateProduct($event)"></app-cartitemcard>
        </ng-container>
        <button *ngIf="selectedCartItems.length" class="checkoutbtn" (click)="orderItem()">Place Order ({{selectedCartItems.length}})</button>
    </div>
    <div class="cartPriceContainer">
        <div class="totalCartdetails">
            <p>Price Details </p>
            <p>Price<span><fa-icon [icon]="farupee"></fa-icon>{{price}}</span></p>
            <p>Discount<span><fa-icon [icon]="faminus"></fa-icon><fa-icon [icon]="farupee"></fa-icon>{{discount}}</span></p>
            <p>Delivery Charges<span><fa-icon [icon]="farupee"></fa-icon>{{deliverycharges}}</span></p>
            <p>Total Amount<span><fa-icon [icon]="farupee"></fa-icon>{{totalPrice}}</span></p>
            <p>You will save {{savedPercent}}% on this order</p>
        </div>
    </div>
</div>
