<div class="container">
    <div class="cartitemscontainer">
        <ng-container *ngFor="let item of cartItems$|async">
            <div class="cartProductCard">
                <div class="details">
                    <input type="checkbox" (change)="selectProduct(item.products._id,item.products.storename)">
                    <div class="img-container">
                        <img src={{item.products.productimg}} alt="product image" >
                        <div class="quantityDiv">
                            <button class="btn1" (click)="decrement()"><fa-icon [icon]="faminus"></fa-icon></button>
                            <button class="btn2">{{quantity}}</button>
                            <button class="btn1" (click)="increment()"><fa-icon [icon]="faplus"></fa-icon></button>
                        </div>
                    </div>
                 
                   
                    <div class="detailsContainer">
                        <div class="productDetails">
                            <h3>{{item.productsproductname}}</h3>
                            <p>seller:{{item.products.storename}}</p>
                        </div>
                        <div class="price-section">
                            <p class="original-price"><fa-icon [icon]="farupee"></fa-icon>{{item.products.productprice}}</p>
                            <p class="current-price"><fa-icon [icon]="farupee"></fa-icon>{{item.products.productnewprice}}</p>
                            <p class="discount">{{item.products.productdiscount}}%</p>
                        </div>
                    </div>
                    <p class="deliverydate">Delivery by</p>
                </div>
                
                <div class="btnContainer">
                    <button (click)="removeFromCart(item.products._id)" class="deleteBtn"><fa-icon [icon]="fadelete"></fa-icon></button>
                    <button  class="buyBtn">Buy Now</button>
                </div>
            </div>
        </ng-container>
        <button *ngIf="selectedCartItems.length" class="checkoutbtn" (click)="orderItem()">Place Order ({{selectedCartItems.length}})</button>
    </div>
    <div class="cartPriceContainer">
        <div class="totalCartdetails">
            <p>Price Details </p>
            <p>Price<span><fa-icon [icon]="farupee"></fa-icon>{{price}}</span></p>
            <p>Discount<span><fa-icon [icon]="farupee"></fa-icon>{{discount}}</span></p>
            <p>Delivery Charges<span><fa-icon [icon]="farupee"></fa-icon>{{deliverycharges}}</span></p>
            <p>Total Amount<span><fa-icon [icon]="farupee"></fa-icon>{{totalPrice}}</span></p>
            <p>You will save {{savedPercent}}% on this order</p>
        </div>
    </div>
</div>
