<div class="container">
    <div class="cartitemscontainer">
        <ng-container *ngFor="let product of cartItems$|async">
            <div class="cartProductCard">
                <div class="details">
                    <img src={{product[0].productimg}} alt="product image" >
                    <div class="detailsContainer">
                        <div class="productDetails">
                            <h3>{{product[0].productname}}</h3>
                            <p>seller:{{product[0].storename}}</p>
                        </div>
                        <div class="price-section">
                            <p class="original-price"><fa-icon [icon]="farupee"></fa-icon>{{product[0].productnewprice}}</p>
                            <p class="current-price"><fa-icon [icon]="farupee"></fa-icon>{{product[0].productprice}}</p>
                            <p class="discount">{{product[0].productdiscount}}%</p>
                        </div>
                    </div>
                    <p class="deliverydate">Delivery by</p>
                </div>
            </div>
        </ng-container>
        
    </div>
    <div class="cartPriceContainer">
        <div class="totalCartdetails">
            <p>Price Details </p>
            <p>Price<span><fa-icon [icon]="farupee"></fa-icon>1000</span></p>
            <p>Discount<span><fa-icon [icon]="farupee"></fa-icon>1233</span></p>
            <p>Delivery Charges<span><fa-icon [icon]="farupee"></fa-icon>1213</span></p>
            <p>Total Amount<span><fa-icon [icon]="farupee"></fa-icon>12323</span></p>
            <p>You will save 80% on this order</p>
        </div>
    </div>
</div>
