<div class="wishlistContainer">
    <p class="heading">
        My WishList
    </p>
    <div class="wishlistCard">
        <div class="details">
            <img src=""  alt="product image" >
            <div class="detailsContainer">
                <div class="productDetails">
                    <h3>name</h3>
                    <div class="rating">
                        <div class="totalrating">
                            4.3
                            <fa-icon [icon]="faStar"></fa-icon>
                        </div>
                        <div class="review">
                            54 Ratings & 4 Reviews
                        </div>
                    </div>
                </div>
                <div class="price-section">
                    <p class="current-price"><fa-icon [icon]="farupee"></fa-icon>current price</p>
                    <p class="original-price"><fa-icon [icon]="farupee"></fa-icon>original price</p>
                   
                    <p class="discount">discount%</p>
                </div>
            </div>
        </div>
        <div class="btnContainer">
            <button >Remove item</button>
            <button>Buy Now</button>
        </div>
    </div>

</div>
