
.searchBar{
    position: relative;
    .searchcontainer{
        width: 50vw;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        display: flex;
        flex-direction: row;
        input{
            width:100%;
            padding: 10px;
            border-radius: 5px 0px 0px 5px;
            outline: none;
            border: none;
            background-color: rgb(231, 250, 255);
            
        }
        // @media (min-width: 453px) and (max-width: 992px){
        //     font-size: ;
        // }
        
        .icon{
            background-color: rgb(231, 250, 255);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0px 5px 5px 0px;
            padding: 5px 10px 5px 10px;
        }
    }
    
    .resultcontainer{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;      
        height: 400px;
        background-color: #fff;
        z-index: 10;
        margin-top: 2px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        .result{
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
            cursor: pointer;
            .matched{
                color: black;
            }
            .unmatched{
                color: rgb(164, 161, 161);
            }
        }
        .result:hover{
            background-color:rgb(231, 250, 255) ;
        }
    }
    .errormsg{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;      
        padding: 10px;
        box-sizing: border-box;
        background-color: #fff;
        z-index: 10;
        margin-top: 2px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
}
@media (min-width: 453px) and (max-width: 768px) {
    .searchBar{
        border: 1px solid green;
        top:60px;
    }
}