<div class="searchBar">
    <div class="searchcontainer">
        <input type="search" placeholder="Search For..." [formControl]="userInput">
        <div class="icon">
            <fa-icon [icon]="faSearch"></fa-icon>
        </div>
         
    </div>
    <div class="resultcontainer">
        <ng-container *ngFor="let result of searchResults">
            <div class="result">
                <span class="matched">{{userInput.value}}</span><span class="unmatched">{{result}}</span>
            </div>
        </ng-container>
        

    </div>
</div>

