<div class="searchBar">
    <div class="searchcontainer">
        <input type="search" placeholder="Search For..." [formControl]="userInput">
        <div class="icon">
            <fa-icon [icon]="faSearch"></fa-icon>
        </div>
         
    </div>
    <div *ngIf="searchResults.length>0" class="resultcontainer" >
        <ng-container *ngFor="let result of searchResults">
            <div class="result">
                <span class="matched">{{userInput.value}}</span><span class="unmatched">{{result}}</span>
            </div>
        </ng-container>
    </div>
    <div class="errormsg" *ngIf="userInput.dirty &&userInput.value.length>0 && searchResults.length==0">
        <h5>No result Found</h5>
    </div>
</div>

