<!-- <h1 *ngIf="!(storeProducts$|async)">No StoreProduct have been added yet</h1>
<div class="storeProductContainer">
    <ng-container *ngFor="let product of storeProducts$|async">
        <div class="storeproductCard">
            <div class="imgContainer">
                <img src={{product.productimg}}>
            </div>
            <div class="details">
                <p>Name:{{product.productname}}</p>
                <p>Category:{{product.productcategory}}</p>
                <p>Price:{{product.productprice}}</p>
                <p>Discount:{{product.productdiscount}}%</p>
                <p>Discount Off Price:{{product.productnewprice}}</p>
                <p>Quantity:{{product.productquantity}}</p>
            </div>
            <div class="productoperations">
                <button class="deletebtn" (click)="deleteProduct(product._id)">delete product</button>
                <button class="updatebtn" (click)="updateProduct(product)">update product</button>
            </div>
        </div>
    </ng-container>
</div> -->
<nav>
    <h3>Products</h3>
    <p>Dashboard<fa-icon [icon]="facaretright"></fa-icon>products</p>
</nav>
<section>
    <div class="storeproductcontainer">
        <ng-container *ngFor="let product of storeProducts$|async">
            <div class="storeproductcard">
                <img src={{product.productimg}}>
                <p>{{product.productname}}</p>
                <p>{{product.productprice}}</p>
                <p>{{product.productquantity}}</p>
                <p>sold</p>
            </div>
        </ng-container>
    </div>
    <aside>
        <img>
        <h4>Description</h4>
        <div class="contentbox">
            <p>product name</p>
            <div class="contentbox">name</div>
            <p>Description</p>
            <div class="contentbox">desciop</div>
           
        </div>
        <h4>Category</h4>
        <div class="contentbox">
            <p>product category</p>
            <div class="contentbox">elele</div>
        </div>
    </aside>
</section>


