<!-- <h1 *ngIf="!(storeProducts$|async)">No StoreProduct have been added yet</h1>
<div class="storeProductContainer">
    <ng-container *ngFor="let product of storeProducts$|async">
        <div class="storeproductCard">
            <div class="imgContainer">
                <img src={{product.productimg}}>
            </div>
            <div class="details">
                <p>Name:{{product.productname}}</p>
                <p>Category:{{product.productcategory}}</p>
                <p>Price:{{product.productprice}}</p>
                <p>Discount:{{product.productdiscount}}%</p>
                <p>Discount Off Price:{{product.productnewprice}}</p>
                <p>Quantity:{{product.productquantity}}</p>
            </div>
            <div class="productoperations">
                <button class="deletebtn" (click)="deleteProduct(product._id)">delete product</button>
                <button class="updatebtn" (click)="updateProduct(product)">update product</button>
            </div>
        </div>
    </ng-container>
</div> -->
<nav>
    <h3>Products</h3>
    <p>Dashboard<fa-icon [icon]="facaretright"></fa-icon>products</p>
    <button class="update"  (click)="updateProduct()" [disabled]="selectedProduct==undefined">Edit Product</button>
    <button class="delete"  (click)="deleteProduct()" [disabled]="selectedProduct==undefined">Delete Product</button>
</nav>
<section>
    <div class="storeproductcontainer">
        <ng-container *ngFor="let product of storeProducts$|async;index as i">
            <div class="storeproductcard" [ngClass]="{'currentSelected':selectedIndex==i}"  tabindex="1" (click)="selectProduct(product,i)">
                <img src={{product.productimg}}>
                <p>{{product.productname}}</p>
                <p style="color:#404968">{{product.productprice}}</p>
                <p style="color:#30374F;font-weight: bold;"><span style="color: #4A5578;font-weight: bold">Stock:</span>{{product.productquantity}}</p>
                <p><span style="color: #4A5578;font-weight: bold">Sold:</span></p>
            </div>
        </ng-container>
    </div>
    <aside>
        <div class="header">
            <button (click)="scrollToElement(description,'desc')" [ngClass]="{'current-section':currentSection==='desc'}">Descriptions</button>
             <button (click)="scrollToElement(inventory,'inv')" [ngClass]="{'current-section':currentSection==='inv'}">inventory</button>
             <button (click)="scrollToElement(pricing,'price')" [ngClass]="{'current-section':currentSection==='price'}">Pricing</button>
        </div>
       
        <div class="sectionContainer">
            <img #description  src={{selectedProduct?.productimg}}>
            <h4>Description</h4>
            <div class="contentbox" >
                <p>product name</p>
                <div class="contentbox">{{selectedProduct?.productname}}</div>
                <p>Description</p>
                <div class="contentbox">{{selectedProduct?.productdesc}}</div>
               
            </div>
            <h4>Category</h4>
            <div class="contentbox">
                <p>product category</p>
                <div class="contentbox">{{selectedProduct?.productcategory}}</div>
            </div>
            <h4 #inventory>Inventory</h4>
            <div class="contentbox" >
                <p>In Stocks</p>
                <div class="contentbox">{{selectedProduct?.productquantity}}</div>
            </div>
            <h4 #pricing>Pricing</h4>
            <div class="contentbox" >
                <p>Current Price</p>
                <div class="contentbox">{{selectedProduct?.productnewprice}}</div>
                <p>Base rate</p>
                <div class="contentbox">{{selectedProduct?.productprice}}</div>
                <p>Discount(%)</p>
                <div class="contentbox">{{selectedProduct?.productdiscount}}</div>
            </div>

        </div>
       
    </aside>
</section>


