.header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 
    button{
        border: none;
        padding: 5px;
        background-color: white;
        cursor: pointer;
        font-size: large;
    }
}
.operation{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    button{
        border: none;
        background-color: #ba9df1;
        padding: 10px;
        border-radius: 5px;
        color: #171717;
    }
}
.opContainer{
    display: flex;
    width: 100%;
    border: 1px solid green;
    justify-content: center;
}