<div class="header">
    <h1 (click)="gotoHome()">ShipKart</h1>
    <div class="account">
        <button (click)="opendropdown()">
            <fa-icon [icon]="faUserLarge"></fa-icon>
        </button>
        <div *ngIf="dropdown" class="dropdown">
            <button class="logout" (click)="logout()">Log Out</button>
        </div>
    </div>
    
    
</div>
<div class="operation">
    <button (click)="gotostoreproducts()">storeproducts</button>
    <button (click)="gotoaddproduct()">Add product</button>
    <button (click)="gotoOrders()">Orders</button>
   
</div>
<div class="opContainer">
    <router-outlet></router-outlet>
</div>
