<div class="container">
    <button class="leftbtn" (click)="moveLeft()"><fa-icon [icon]="angleleft"></fa-icon></button>
    <button class="rightbtn" (click)="moveRight()"><fa-icon [icon]="angleright"></fa-icon></button>
    <div class="navbar" #navbar>
        <div>
            <img src="assets/images/categories/grocery.png">
            <button (click)="gotoProduct('grocery')">Grocery</button>
        </div>
        <div>
            <img src="assets/images/categories/phone.png">
            <button (click)="gotoProduct('mobile')">Mobile</button>
        </div>
        <div>
            <img src="assets/images/categories/fashion.jpg">
            <button (click)="gotoProduct('fashion')">Fashion</button>
        </div>
        <div>
            <img src="assets/images/categories/laptop.webp">
            <button (click)="gotoProduct('electronics')">Electronics</button>
        </div>
        <div>
            <img src="assets/images/categories/furniture.webp">
            <button (click)="gotoProduct('furniture')">Home & Furniture</button>
        </div>
        <div>
            <img src="assets/images/categories/appliances.webp">
            <button (click)="gotoProduct('appliances')">Appliances</button>
        </div>
        <div>
            <img src="assets/images/categories/travel.webp">
            <button (click)="gotoProduct('travel')">Travel</button>
        </div>
        <div>
            <img src="assets/images/categories/beauty&toys.webp">
            <button (click)="gotoProduct('toys')">Beauty Toys & More</button>
        </div>
        <div>
            <img src="assets/images/categories/twowheelers.webp">
            <button (click)="gotoProduct('two wheelers')">Two Wheelers</button>
        </div>
    </div>
    <div>
        <app-offer></app-offer>
    </div>
    <div class="bestdeals">
        <p>Best Deals</p>
        <div class="">
            <app-best-deals></app-best-deals>
        </div>
        
    </div>
</div>

