<div class="allproductContainer">
    <div class="filterOptions">
        <div class="">
            <p class="heading">Filters</p>
        </div>
        <div class="price">
            <p class="subheading">Price</p>
            <div class="rangeContainer">
                <input #range type="range" min="1" max="100000" class="rangeSlider" (input)="selectRange(range)">
                <input #range type="range" min="1" max="100000" class="rangeSlider" (input)="selectRange(range)">
                
            </div>
            
            <div class="pricerange">
                <div class="startrange">{{startVal}}</div>
                <p>to</p>
                <div class="endrange">{{endVal}}</div>
            </div>
           
        </div>
        <div>
            <p class="subheading">Brand</p>
        </div>
        <div>
            <p class="subheading">Customer rating</p>
        </div>
        
    
    </div>
    <div class="productContainer">
        <div class="headSection">
            <p><a [routerLink]="['/']">Home</a>>>Allproducts>>{{currentlevel}}</p>
            <p class="result-count">Showing result:{{totalresults}}</p>
            <div class="sortBy-section">
                <p>Sort By</p>
                <button>Relevance</button>
                <button>Popularity</button>
                <button (click)="getProductsBy('asc')">Price-low--High</button>
                <button (click)="getProductsBy('desc')">Price-Hight--low</button>
                <button>Newest</button>
            </div>
        </div>
        <!-- <app-product-card></app-product-card> -->
        <div class="loader" *ngIf="!(product$|async)">
        </div>
        <div class="productsArray">
            
            <ng-container  *ngFor="let product of (product$|async)">
                
                <app-simpleproductcard (refreshNeeded)="refresh($event)" [product]="product"></app-simpleproductcard>
            </ng-container>
            
        </div>
        
    
    </div>
</div>

