.allproductContainer{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.filterOptions{
    background-color: white;
    display: flex;
    flex-direction: column;
    width:300px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    .heading{
        font-size: 18px;
        font-weight: 600;
    }
    .subheading{
        font-size: 14px;
        font-weight: 600;
    }
    div{
        width: 100%;
        border-bottom: 1px solid rgb(218, 216, 216);
    }   
    .price{
        width: 100%;
        padding-bottom: 10px;
        .rangeContainer{
            position: relative;
            height: 40px;
            display: flex;
            margin-bottom: 5px;
            .rangeSlider{
                width: 100%;
                position: absolute;
            }
            input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                pointer-events: all;
                width: 24px;
                height: 24px;
                background-color: #fff;
                border-radius: 50%;
                box-shadow: 0 0 0 1px #C6C6C6;
                cursor: pointer;
              }
        }
        
        .pricerange{
            display:flex;
            box-sizing: border-box;
            align-items: center;
            border: 1px solid green;
            .startrange,.endrange{
                width: 50%;
                height: 20px;
                border-radius: 2px;
                border: 1px solid grey;
                padding: 5px;
            }
        }
    }
}
.productContainer{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    div{
        border-bottom: 1px solid rgb(214, 214, 214);
    }
    .headSection{

    }
    .result-count{
        font-size: 16px;
        color: #212121;
        font-weight: 700;
        margin: 5px 0px 0px;
    }
    .sortBy-section{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        column-gap: 10px;
        button{
            border: none;
            background-color: white;
            padding: 5px;
            font-size: 14px;
            cursor: pointer;
        }
        button:focus{
            color: blue;
            border-bottom: 2px solid blue;

        }
        
    }
    .productsArray{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        padding: 10px;
        box-sizing: border-box;
    }
}