<div class="allproductContainer">
    <div class="filterOptions">
        <div class="">
            <h2>Filter</h2>
        </div>
        <div class="price">
            <h3>Price</h3>
        </div>
        <div>
            <h3>Brand</h3>
        </div>>
        <div>
            <h3>Customer Ratings</h3>
        </div>
        
    
    </div>
    <div class="productContainer">
        <div>
            <p>path</p>
            <p>Showing result</p>
            <div class="sortBy">
                <p>Sort By</p>
                <button>Relevance</button>
                <button>Popularity</button>
                <button>Price-low->High</button>
                <button>Price-Hight->low</button>
                <button>Newest</button>
            </div>
        </div>
        <app-product-card></app-product-card>
    
    </div>
</div>

