.productPageContainer{
    width: 100%;
    display: flex;
    padding: 0px 30px 30px 30px;
    flex-direction: column;
    box-sizing: border-box;
    row-gap: 10px;
    
    .productContainer{
        display: flex;
        column-gap: 20px;
        padding: 10px;
        background-color: #fff;
        .imgContainer{
            display: block;
            .img{
                width: 400px;
                height: 500px;
                border: 1px solid black;
                // object-fit: contain;
                background-color: white;
            }
            .btnContainer{
                margin-top: 10px;
                display: flex;
                column-gap: 5px;
                width: 100%;
                button{
                    border-radius: 2px;
                    width: 50%;
                    color: #fff;
                    font-weight: bold;
                    padding: 10px;
                    border: none;
                    cursor: pointer;
                }
                .btn1{
                    background-color: #ffbf00;
                    margin-right: 5px;
                }
                .btn2{
                    background-color: #fb641b;
                }
            }
        }
        .productdetails{
            display: flex;
            flex-direction: column;
            .productname{
                font-weight: bold;
            }
            .rating {
                display: flex;
                column-gap: 10px;
                align-items: center;
        
                .totalrating {
                    display: block;
                    padding: 2px 4px 2px 6px;
                    background-color: #388e3c;
                    border-radius: 3px;
                    font-size: 12px;
                    font-weight: 600;
                    color: #fff;
                    width: fit-content
            
        
                    fa-icon {
                        font-size: 11px;
                    }
                }
                    
                .review {
                    color: #878787;
                    font-weight: 600;
                    font-size: 14px;
                }
        
            }
            .price-section{
                display: block;
                p {
                    margin: 5px 0px;
                    display: inline-block;
                   
                }
                .current-price {
                    font-size: 18px;
                    font-weight: 600;
                    fa-icon{
                        font-size: 20px;
                    }
                    span{
                        margin-right: 13px;
                    }
                   
                }
                .original-price {
                    font-size: 14px;
                    font-weight: 600;
                    color: #878787;
                    text-decoration: line-through;
                    padding-left: 10px;
                    span{
                        margin-right: 10px;
                    }
                }
            
                .discount {
                    font-size: 13px;
                    color: #388e3c;
                    font-weight: 700;
                }
            
                .deliverymethod {
                    font-size: 12px;
                }
            }
            .productdescription{
                width: fit-content;
                border: 1px solid lightgray;
            }

        }
    }
    .similarProductsContainer{
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        background-color: #fff;
        p{
            font-size: large;
            font-weight: bold;
        }

    }

}