/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
*{
    // margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body { 
    margin: 0;
    width: 100%; 
    box-sizing: border-box;
    // font-size: 62.5%;
 }
//  @media (min-width: 453px) and (max-width: 992px){
//     body{
//         font-size: 62.5%;
//     }
//  }