.productCard{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    padding: 10px;
    column-gap: 20px;
    .imgContainer{
        width:200px;
        height:200px;
        border-radius: 5px;
        position: relative;
        border: 1px solid blue;
        img{
            width:200px;
            height:200px;
            object-fit: contain;
        }
        fa-icon{
            position: absolute;
            left: 100%;
            color: red;
        }
    }
    .productDetails{
        display: flex;
        width: 600px;
        flex-direction: column;
        border: 1px solid blue;
        h3{
            margin: 5px 0px;
        }
        .rating{
            display: flex;
            column-gap: 10px;
            align-items: center;
            border: 1px solid green;
            .totalrating{
                // box-sizing: border-box;
                padding: 2px 4px 2px 6px;
                background-color: #388e3c;
                border-radius: 3px;
                font-size: 12px;
                font-weight: 600;
                // width: 40px;
                // height: 20px;
                color: #fff;
                // vertical-align: middle;
                fa-icon{
                    font-size: 12px;
                }
            }
            .review{
                color: #878787;
                font-weight: 600;
                font-size: 14px;
            }

        }
        .spec{
            ul{
                
                list-style: circle;
                padding:0px;
                li{
                    position: relative;
                    left: 1em;
                    
                    // list-style-position: inside
                }
            }
            border: 1px solid blue;
        }
        .price-section{
            display: flex;
            width: 300px;
            flex-direction: column;
        }
        
    }
}