<div class="productCard">
    <div class="imgContainer">
        <img src="assets/images/mobiles/nothing2a.jfif">
        <fa-icon [icon]="faHeart"></fa-icon>
    </div>
    <div class="detailsContainer">
        <div class="productDetails">
            <h3>Name of the Product</h3>
            <div class="rating">
                <div class="totalrating">
                    4.3
                    <fa-icon [icon]="faStar"></fa-icon>
                </div>
                <div class="review">
                    54 Ratings & 4 Reviews
                </div>
            </div>
            <div class="spec">
                <ul>
                    <li>Spec 1</li>
                    <li>Spec 2</li>
                    <li>Spec 3</li>
                    <li>Spec 4</li>
                </ul>
            </div>
        </div>
        <div class="price-section">
            <div>
                <p class="current-price"><fa-icon [icon]="farupee"></fa-icon>34000</p>
                <div class="price-discount">
                    <p class="original-price"><fa-icon [icon]="farupee"></fa-icon>50000</p>&nbsp;
                    <span class="discount">50% off</span>
                </div>
                <div>
                    <p class="deliverydate">free delivery by 25 march</p>
                </div>
                <div>
                    <p class="extra">extra offers</p>
                </div>
            </div>

        </div>
    </div>

</div>