<div class="productCard">
    <div class="imgContainer">

    </div>
    <div class="productDetails">
        <h3>Name of the Product</h3>
        <div class="rating">
            <div class="totalrating">
                4.3
            </div> 
            <div>
               54 ratings & 4 reviews 
            </div>
        </div>
        <div class="spec">
            <ul>
                <li>Spec 1</li>
                <li>Spec 2</li>
                <li>Spec 3</li>
                <li>Spec 4</li>
            </ul>
        </div>
    </div>
    <div class="price-section">
        <div>
            340000Rs
        </div>

    </div>
</div>
