<div class="container">
    <div class="orderitemscontainer">
        <ng-container>
            <div class="orderProductCard">
                <div class="details">
                    <img src="" alt="product image">
                    <div class="detailsContainer">
                        <div class="productDetails">
                            <h3>name</h3>
                            <p>seller:</p>
                        </div>
                        <div class="price-section">
                            <p class="current-price"><fa-icon [icon]="farupee"></fa-icon>currentprice</p>
                        </div>
                    </div>
                </div>
                <div class="progressbar">
                    <div class="section">
                        <p class="orderStatus">Order Confirmed</p>
                        <div class="status">
                            <div class="circle"></div>
                            <div class="bar"></div>
                        </div>
                        <p class="dateconfirmed">Fri,25 Apr</p>
                    </div>
                    <div class="section">
                        <p class="orderStatus">Shipped</p>
                        <div class="status">
                            <div class="circle"></div>
                            <div class="bar"></div>
                        </div>
                        <p class="dateconfirmed">Fri,25 Apr</p>
                    </div>
                    <div class="section">
                        <p class="orderStatus">Out For Delivery</p>
                        <div class="status">
                            <div class="circle"></div>
                            <div class="bar"></div>
                        </div>
                        <p class="dateconfirmed">Fri,25 Apr</p>
                    </div>
                    <div class="section">
                        <p class="orderStatus">Delivered</p>
                        <div class="status">
                            <div class="circle"></div>
                        </div>
                        <p class="dateconfirmed">Fri,25 Apr</p>
                    </div>
                </div>
            </div>
        </ng-container>

    </div>
</div>