<div class="container">
    <div class="orderitemscontainer">
        <ng-container *ngFor="let order of (orders$|async)">
            <div class="orderProductCard">
                <div class="details">
                    <img src={{order.products.productimg}} alt="product image">
                    <div class="detailsContainer">
                        <div class="productDetails">
                            <h3>{{order.products.productname}}</h3>
                            <p>seller:{{order.products.storename}}</p>
                        </div>
                        <div class="price-section">
                            <p class="current-price"><fa-icon [icon]="farupee"></fa-icon>{{order.products.productnewprice}}</p>
                        </div>
                    </div>
                </div>
                <div class="progressbar">
                    <div class="section">
                        <p class="orderStatus">Order Confirmed</p>
                        <div class="status">
                            <div class="circle"></div>
                            <div class="bar"></div>
                        </div>
                        <p class="dateconfirmed">Fri,25 Apr</p>
                    </div>
                    <div class="section">
                        <p class="orderStatus">Shipped</p>
                        <div class="status">
                            <div class="circle"></div>
                            <div class="bar"></div>
                        </div>
                        <p class="dateconfirmed">Fri,25 Apr</p>
                    </div>
                    <div class="section">
                        <p class="orderStatus">Out For Delivery</p>
                        <div class="status">
                            <div class="circle"></div>
                            <div class="bar"></div>
                        </div>
                        <p class="dateconfirmed">Fri,25 Apr</p>
                    </div>
                    <div class="section">
                        <p class="orderStatus">Delivered</p>
                        <div class="status">
                            <div class="circle"></div>
                        </div>
                        <p class="dateconfirmed">Fri,25 Apr</p>
                    </div>
                </div>
            </div>
        </ng-container>

    </div>
</div>