nav{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
    box-sizing: border-box;
    height: max-content;
    display: block;
    // width: 100%;
    margin: 10px;
    p{
        width: max-content;
        display: inline;
        color: #3b43d6;
        cursor: pointer;
        fa-icon{
            margin: 0px 5px 0px 5px;
        }
    }
    
}
section{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    button{
        background-color: #F8F9FC;
        border: none;
        // border-bottom: 1px solid #B3B8DB;
        padding: 8px;
        cursor: pointer;
        color: #9AA4B2;
        margin-bottom: 4px;
    }
    button:first-child{
        border-radius: 5px 0px 0px 5px;
        // border-right: 1px solid #D5D9EB;
    }
    .currentType{
        // box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
        border-radius: 5px !important;
        font-weight: bold;
        background-color: #fff;
        color: #101323;
    }
    table{
        width: 100%;
        border-radius: 10px;
        box-sizing: border-box;
        border-collapse: collapse;
        th{
            padding: 10px;
            border-bottom: 2px solid #EAECF5;
            text-align: left;
        }
        th:first-child{
            border-radius: 10px 0px 0px 0px;
        }
        th:last-child{
            border-radius: 0px 10px 0px 0px;
        }
        tr,td{
            background-color: #fff;
            padding: 10px;
            font-size: 14px;
        }
        td{
            border-bottom: 1px solid #EEF2F6;
        }
        tr:last-child{
            td:first-child{
                border-radius: 0px 0px 0px 10px;
            }
            td:last-child{
                border-radius: 0px 0px 10px 0px;
            }
        }
        .completed{
            color:#32de84;
        }
    
        img{
            width: 70px;
            height: 70px;
            object-fit: cover;
            float: left;
        }
        p{
            float: left;
        }
      
    }
}
